<div class="article1">
    <div class="container" style="">
        <button type="button" class="shadow-sm">VIEW ALL PRODUCTS</button>
    </div>
</div>

<footer>
  <div class="container">
    <div class="row">
        <div class=" col-sm-5">
            <h4>Little <span>Fashion</span></h4>
            <p class="p1"> Copyright<strong><i class="fa-sharp fa-solid fa-copyright"></i></strong>2022<strong> little Fashion</strong></p>
            <p class="p2">Designed by Tooplate</p>
        </div>
        <div class=" col-sm-3">
            <h5>Sitemap</h5>
            <p>Story</p>
            <p>Privacy policy</p>
            <p>Contact</p>
        </div>
        <div class=" col-sm-2 texte">
            <p>Products</p>
            <p class="p1">FAQs</p>
        </div>
        <div class=" col-sm-2">
            <h5>Social</h5>
            <div class="icon">
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-whatsapp"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-skype"></i>
            </div>
        </div>
      </div>
    </div>
</footer>

