<div class="section4">
    <div class="container-md">
        <h2>Featured Products</h2>
    </div>
  </div>
  <div  *ngIf="slides && slides.length > 0"   class="article">
    <div class="container-lg">
        <div class="row">
                <div *ngFor="let slide of slides; let i=index " class="col- col-sm-4 images">
                    <div class="image shadow-lg" style=" ">
                        <img [src]="slide.slideSrc" alt="">
                        <button type="button">{{slide.button}}</button><i class="fa-regular fa-heart"></i>
                    </div>
                    <div class="catalogues" style="">
                    <span class="s1">{{slide.price}}</span><h5>{{slide.title}}</h5>
                    <p>{{slide.comment}}</p>
                    </div>
                </div>
               
        </div>
    </div>
  </div>
