<article>
    <div class="title text-center">
        <h2>Get started with <span style="color:orangered">Little</span> Fashion</h2>
    </div>    
    <div class="container-xl" style="border: ;">
    <div class="row">
        <div class="col- col-md-3 links" style="">
            <ul>
                <li><a class="nav-link" href="">Introduction</a></li>
                <li><a class="nav-link" href="">How we work?</a></li>
                <li><a class="nav-link" href="">Capabilities</a></li>
            </ul>
        </div>
        <div class="col- col-md-6 " style="border: ;">
            <img [src]="myImage" [alt]="">
        </div>
        <div class="col- col-md-3" style="border: ;">
            <h5>Good <span style="color:orangered">Design</span><br>Ideas for <span style="color:orangered">your</span> fashion</h5>
            <p>Little Fashion templates comes with sign in/sign up pages, product listing/product detail, about FAQs, and contact page.</p>
            <p class="p1">Since this HTML template is based on Boostrap 5 CSS library, you can feal free to add more components as you need.</p>
            <a href="" class="btn">LEARN MORE ABOUT US</a> 
        </div>
    </div>
    </div>
</article>
