
<div class="section3">
    <div class="container-fluid">
      <div class="row">
          <div class="col- col-md-6">
            <img [src]="myImage" alt="">
          </div>
          <div class="col- col-md-6 owner">
              <h2 style=" font-weight: 1000;"><span style="color:orangered">Retail</span> shop owners</h2>
              <p>Credits go to Unsplash and FreePik websites for images used in this time Fashion by Tooplate</p>
              <a  href="">EXPLORE PRODUCTS</a>
          </div>
      </div>
    </div>
</div>